@font-face {
    font-family: BKoodak;
    src: url(./fonts/BFonts/BKoodkBd.ttf);
}

/* RESET RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
:root {
    --white: #fff;
    --divider: rgb(200, 200, 200);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

ul>li {
    text-align: center;
}

a {
    text-decoration: none;
    color: inherit;
}

ul li~img {
    width: 30px;
    position: fixed;
    z-index: 4;
}

.diamond:nth-of-type(1) {
    margin-left: calc(-16px + 48px * (10 - 9));
    margin-top: 80px;
}

.diamond:nth-of-type(2) {
    margin-left: calc(-16px + 48px * (10 - 6));
    margin-top: 80px;
}


body {
    font-size: 13px;
    font-family: BKoodak, Arial, sans-serif;
    padding-top: 10px;
}

.chart-wrapper {
    padding: 0 0;
}


/* CHART-VALUES
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-wrapper .chart-values {
    position: relative;
    display: flex;
    margin-bottom: 4px;
    font-weight: bold;
    font-size: 1.1rem;
}

.chart-wrapper .chart-values li {
    flex: 1;
}

.chart-wrapper .chart-values li:not(:last-child) {
    position: relative;
}

.chart-wrapper .chart-values li:not(:last-child)::before {
    content: '';
    position: absolute;
    right: 0;
    height: 250px;
    border-right: 2px solid var(--divider);
}


/* CHART-BARS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.chart-wrapper .chart-bars li {
    position: relative;
    color: var(--white);
    margin-bottom: 5px;
    font-size: 17px;
    border-radius: 200px;
    padding: 5px;
    z-index: 0;
}