:root {
    --col: rgb(0, 0, 104);
}

@font-face {
    font-family: BKoodak;
    src: url(./fonts/BFonts/BKoodkBd.ttf);
}

@font-face {
    font-family: BTitr;
    src: url(./fonts/BFonts/BTitrBd.ttf);
}

body {
    margin-top: 100px;
    margin-bottom: 160px;
    width: 90%;
    font-family: BKoodak, Arial, sans-serif;
}

iframe {
    width: 480px;
}

.max480 {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.titr,
:not(ul>li *)>summary {
    font-family: BTitr, Arial, sans-serif;
    color: var(--col);
}

dt {
    margin-top: 12px;
    margin-bottom: 6px;
}

dd {
    line-height: 20px;
    text-align: justify;
}

hr {
    border: 1px solid var(--col);
}

details {
    margin-bottom: 16px;
}

details[id] div li {
    line-height: 23px;
}

:is(p, span, .pspan) {
    display: block;
    font-family: BKoodak, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
    text-indent: 7%;
    padding-top: 2px;
}

#details>div>p {
    text-indent: calc(7% / 2);
}

#details details {
    margin-top: 10px;
    margin-right: 6px;
}

#details>div ul {
    list-style: square;
    line-height: 23px;
}

#details>div summary+ul {
    margin-right: 10px;
}

#details>div ol li {
    padding-right: 10px;
}

#details>div>ul>li::marker {
    content: '🖋 ‌ ‌ ‌‌‌ ‌ ‌';
    font-size: inherit;
}

#details>div li ::marker {
    /* remove extra li before details*/
    content: '';
}

/* #details>div li:has(>details) {} */

#details>div details ::marker {
    content: initial;

}

#details>div details ul>li::marker {
    font-size: 30px;
}

#details>div ul:has(>li>details) {
    padding-inline-start: 24px;

}

details>summary[hidden]+ul>li {
    margin-top: 15px;
    margin-bottom: 18px;
}

details>summary[hidden]+ul ul li {
    list-style-type: disc;
    line-height: 23px;
}

#tracker ul {
    padding-inline-start: 32px;
}

summary,
li> :where(h1, h2, h3, h4) {
    margin: 0 2px 5px 0;
}


h2,
#definitions {
    page-break-before: always;
}

a {
    text-decoration: none;
}

nav ul>a {
    color: black;
}

nav ul>a:hover {
    color: teal;
}


summary:hover {
    color: purple;
    cursor: pointer;
}

.container {
    margin-top: 15px;
    line-height: 0;
}

.rtl {
    direction: rtl;
    text-align: right;
}

.ltr {
    direction: ltr;
    text-align: left;
}

.eng,
.ltr {
    font-family: Arial, sans-serif;
    font-size: 14px;
}