@font-face {
    font-family: BKoodak;
    src: url(./fonts/BFonts/BKoodkBd.ttf);
}

@font-face {
    font-family: BTitr;
    src: url(./fonts/BFonts/BTitrBd.ttf);
}

body {
    width: 90%;
    /* margin: 20px auto 120px auto; */
    font-family: BKoodak, Arial, sans-serif;
    /* position: relative; */
}

.max480 {
    margin-left: auto;
    margin-right: auto;
    max-width: 480px;

}

iframe {
    width: 100%;
    /* margin: auto;
    padding: auto;
    border: auto; */
    /* max-width: 1000px; */

}

.titr {
    font-family: BTitr, Arial, sans-serif;
}

table {
    display: none;
}


:is(p, span) {
    display: block;
    font-family: BKoodak, Arial, sans-serif;
    font-size: 14px;
    line-height: 15px;
    text-align: justify;
    text-indent: 7%;
    padding-top: 2px;
}

li> :where(h1, h2, h3, h4) {
    font-family: BTitr, Arial, sans-serif;
    margin: 0 2px 5px 0;
}

nav ul>a {
    color: black;
    text-decoration: none;
}

nav ul>a:hover {
    color: teal;
}

ul {
    padding-right: 6%;
}

td {
    width: 30px;
    background-color: lightblue;
}

summary:hover {
    color: purple;
    cursor: pointer;
}