@font-face {
    font-family: BKoodak;
    src: url(./fonts/BFonts/BKoodkBd.ttf);
}

@font-face {
    font-family: BTitr;
    src: url(./fonts/BFonts/BTitrBd.ttf);
}

body {
    width: 90%;
    font-family: BKoodak, Arial, sans-serif;
}

iframe {
    width: 480px;
}

.max480 {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
}

.titr,
summary {
    font-family: BTitr, Arial, sans-serif;
}

table {
    display: none;
}

details {
    margin-bottom: 3px;
}

:is(p, span) {
    display: block;
    font-family: BKoodak, Arial, sans-serif;
    font-size: calc(31px /2);
    line-height: 17px;
    text-align: justify;
    text-indent: 7%;
    padding-top: 2px;
}

summary,
li> :where(h1, h2, h3, h4) {
    margin: 0 2px 5px 0;
}

nav ul>a {
    color: black;
    text-decoration: none;
}

nav ul>a:hover {
    color: teal;
}

ul {
    padding-right: 6%;
}

summary:hover {
    color: purple;
    cursor: pointer;
}

.eng {
    font-family: Arial, sans-serif;
}